[Unit]
Description=Sway Wayland Compositor
Documentation=man:sway(5)
After=systemd-user-sessions.service
Wants=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/sway
Restart=on-failure
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=XDG_SESSION_DESKTOP=sway

[Install]
WantedBy=default.target

